/* Стил за изображението в потребителското табло */
.user-image {
    width: 400px; /* променете размера, както ви е необходимо */
    height: 400px;
    border-radius: 50%;
    object-fit: cover; /* да запълни целия контейнер, без да изкривява пропорциите на снимката */
    margin-bottom: 10px;
  }