/* Menu.css */

.menu {
    max-width: 600px;
    margin: 20px auto;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}